
*{
    font-family:'Inter', sans-serif;
    padding: 0;
    margin: 0;

}

body{
    background: #dbd8d6;
}


.video-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
/* HEADER */


.header{
   width: 90%;
   margin: auto;
   
}

.header .logo{
    margin-top: 40px;
    filter: invert(100%) brightness(200%);

}

/* PARTE MAIN */

.main{
   width: 80%;
   margin: auto 40px auto auto;
   display: grid;
   min-height: calc(100vh - 91px - 72px );
   grid-template-columns: 2fr 1fr;
   align-items: end;
}

.cont-side-I{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto{
    width: 80%;
    font-size: 32px;
    background: none;
    border: none;
    resize: none;
    outline: none;
    color: #ffff;
   
}


.texto::placeholder{
    color:#fff;
}

.I-side span{
    color: #fff;
  
}

.I-side img{
    filter: invert(100%) brightness(200%);
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;    
    margin-top: 16px;
}

.btnE{
    width: 40%;
    max-width: 327px;
    min-width: 160px;
    height: 67px;
    background: #180447;
    color: #fff;
    font-size: 20px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.btnD{
    width: 40%;
    max-width: 327px;
    min-width: 160px;
    height: 67px;
    background:#180447b3;
    color: #fff;
    font-size: 20px;
    color: #fff;
    border-radius: 24px;
    border: 2px solid #ffffff4f;
    cursor: pointer;
}

 .cont-side-D.ajustes{
    justify-content: space-between;
}



.cont-side-D{
    height: calc(100% + 48px);
    background: #180447e6;
    border-radius: 32px;
    padding: 90px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.persona-info{
    width: 100%;
}

.oculto{
    display:none ;
}

.msj-info.ajustes{
    text-align: left;
    height: 80%;
    font-weight: 400;
    
}

.msj-info{
    background: none;
    border: none;
    overflow: none;
    color: #fff;
    outline: none;
    resize: none;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  
}

.msj-info::placeholder{
    color: #fff;
}

.msj-info2{
    font-size: 16px;
    text-align: center;
    color: #fff;
    position: relative;
    bottom: 12%;
    
}
.btncopiar{
    min-width: 160px;
    max-width: 327px;
    width: 100%;
    height: 68px;
    background:#230a5fb3;
    font-size: 20px;
    color: #fff;
    border-radius: 24px;
    border: 2px solid #ffffff4f;
    cursor: pointer;
}





@media screen and (max-width: 800px){
    .main{
        grid-template-columns:1fr ;
        grid-template-rows: 70% auto;
        width: auto;
        margin: auto 40px;
    }

    .persona-info{
        display: none;
    }

    .cont-side-D{
        height: 100%;
    }

    .buttons{
        justify-content: center;
    }

    .btnE{
        width: 46%;
    }
    .btnD{
        width: 46%;
    }
}

/* RESPONSIVE MOVIL */
@media screen and (max-width:520px){

    .main{
        margin: auto 16px;
    }

    .buttons{
        display: flex;
        justify-content: space-between;
    }
    .btnE{
        width: 100%;
        max-width: none;
    }
    .btnD{
        width: 100%;
        max-width: none;
    }

    .btncopiar{
        margin-bottom: -15px;
    }
}

@media screen and (max-width:450px) {
    .main{
        margin: auto;
    }

   .buttons{
    width: 100vw;
   }

   .cont-side-D{
    width: 100vw;
   }

   .cont-side-D p{
    display: none;
   }
}